<!-- home.component.html -->
<div class="home-container">
  <div class="header">
    <div class="global-logo">LUMIBOX</div>
    <div class="search-section">
      <input type="text" placeholder="" class="search-input">
      <div class="filters">
        <button class="filter-button">Filmes</button>
        <button class="filter-button">Séries</button>
        <select class="filter-select">
          <option>Categorias</option>
        </select>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="grid-movies">
      <div class="movie-card" *ngFor="let movie of movies">
        <img [src]="movie.img" [alt]="movie.title" />
      </div>
    </div>

    <div class="suggestion-box">
      <div class="suggestion-card">?</div>
      <p>Não sabe o que assistir?</p>
      <button class="refresh-button">&#x21bb;</button>
    </div>
  </div>
</div>
